body {
    background-image:url("../img/login.jpg");
    background-size:auto;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

label {
    color: #ff8533;
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
button {
    background-color: white;
    border:none;
    background-size:35px;
    position:absolute;
    right:50px;
}



